body {
  width: 100%;
  height: 500px;
  background-color: rgb(104, 174, 249);
}
/* ---------------------------------- */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(104, 174, 249);
}
/* ---------------------------------- */
.header {
  position: absolute;
  width: 90%;
  left: 5%;
  right: 5%;
  height: 100px;
  top: 1.5px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 4px 5px 16px 2px rgba(119, 117, 117, 0.81);
  -webkit-box-shadow: 4px 5px 16px 2px rgba(119, 117, 117, 0.81);
  -moz-box-shadow: 4px 5px 16px 2px rgba(119, 117, 117, 0.81);
}
.logo {
  float: left;
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
.logo img {
  height: 100px;
  border-radius: 5px;
}
.name {
  float: left;
  text-align: center;
  margin-left: 200px;
  margin-top: 10px;
}
.name h2 {
  text-shadow: 5px 5px 10px rgba(44, 44, 44, 0.6);
}
.menu {
  float: left;
  margin-left: 150px;
  height: 70px;
  margin-top: 10px;
  width: 400px;
}
.menu ul {
  padding: 10px;
}
.menu ul li {
  display: inline;
}
.menu ul li a {
  text-align: center;
  margin: 10px;
  text-decoration: none;
  color: black;
}
.content {
  position: absolute;
  width: 90%;
  margin-top: 110px;
  left: 5%;
  right: 5%;
  height: 350px;
  top: 1.5px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 4px 5px 16px 2px rgba(119, 117, 117, 0.81);
  -webkit-box-shadow: 4px 5px 16px 2px rgba(119, 117, 117, 0.81);
  -moz-box-shadow: 4px 5px 16px 2px rgba(119, 117, 117, 0.81);
}
.standings {
  float: left;
  height: 90%;
  margin-top: 2.5%;
  width: 48%;
  margin-left: 10px;
  text-align: center;
  margin-top: 12.5px;
}
table {
  margin-top: 20px;
  margin-left: 130px;
}
.team {
  float: left;
  height: 90%;
  margin-top: 2.5%;
  width: 48%;
  margin-left: 13px;
  margin-top: 12.5px;
}
.team img {
  width: 400px;
  margin-left: 50px;
}
.footer {
  padding: 20px;
  text-align: center;
  color: black;
  clear: both;
  float: bottom;
  background-color: white;
  width: 87%;
  margin-left: 60px;
  border-radius: 5px;
  position: relative;
  bottom: 5%;
  box-shadow: 4px 5px 16px 2px rgba(119, 117, 117, 0.81);
  -webkit-box-shadow: 4px 5px 16px 2px rgba(119, 117, 117, 0.81);
  -moz-box-shadow: 4px 5px 16px 2px rgba(119, 117, 117, 0.81);
}
